.study {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-arrow {
    margin-right: 1rem;
}

.right-arrow {
    margin-left: 1rem;
}

mat-card {
    width:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

mat-card div.header {
    font-size:x-large;
    margin-bottom: 1rem;
    text-align: center;
}

mat-card-content {
    font-size:large;
    margin-bottom: 1rem;
    text-align: center;
}

mat-card button {
    margin-bottom: 1rem;
}