table {
    width: 100%;
}

.mat-column-action {
    border-right: 1px solid rgba(0,0,0,.12);
    padding-right: 1rem;
}

.mat-column-question {
    border-right: 1px solid rgba(0,0,0,.12);
    padding-right: 1rem;
    padding-left: 1rem;
}

.mat-column-answer {
    padding-left: 1rem;
}