<mat-card class="study">
    <mat-card-header>
        <button mat-raised-button color="primary" (click)="navigateToStudy()">
            Study Flashcards
        </button>
    </mat-card-header>
    <mat-card-content>
        Begin a study session with the flashcards you have made.
    </mat-card-content>
</mat-card>
  
<mat-card class="view">
    <mat-card-header>
        <button mat-raised-button color="primary" (click)="navigateToFlashcards()">
            View Flashcards
        </button>
    </mat-card-header>
    <mat-card-content>
        Browse through the flashcards you have created. Add, edit, or delete flashcards.
    </mat-card-content>
</mat-card>